##########################
# REQUIRED CONFIGURATION #
##########################

# The names of all the repositories that you want to grep
# Example:
#   REPOS="vim spring-framework gradle phantomjs"
REPOS=""

##########################
# OPTIONAL CONFIGURATION #
##########################

# The directory where all the above repositories exist
# Options to always pass to git-grep
# -I :: don't look in binary files
GIT_GREP_OPTIONS="-I"

# Specifying this directory allows you to run multi from any directory and search the same repositories
# Example:
#   BASE_DIR="~/src"
# OS X Example:
#   BASE_DIR="/Users/<user>/src"
BASE_DIR=""
